.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Adjust the background color if needed */
  overflow: hidden;
}

.loader-video {
  width: 50%; /* Fullscreen width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the video covers the container */
  z-index: 1;
}

@media (max-width:480px) {
  .loader-video {
    width: 90%; /* Fullscreen width */
  }
}